<!-- Google Fonts - Noto Sans KR -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap" rel="stylesheet">
<style>
/* Force override for HCL/terraform token colors on GitHub Pages */
.language-hcl .o,
.language-hcl .p,
.language-terraform .o,
.language-terraform .p,
.highlighter-rouge .language-hcl .o,
.highlighter-rouge .language-hcl .p,
.language-hcl .highlight .o,
.language-hcl .highlight .p,
.language-hcl .nt,
.language-hcl .nx,
.language-hcl .vi,
.highlighter-rouge .language-hcl .nt,
.highlighter-rouge .language-hcl .nx,
.highlighter-rouge .language-hcl .vi {
  color: var(--body-text-color, #383942) !important;
}
</style>
